In [1]:
!pip install -U scikit-learn

Requirement already up-to-date: scikit-learn in c:\users\vincy\appdata\local\continuum\anaconda2\lib\site-packages
Requirement already up-to-date: numpy>=1.8.2 in c:\users\vincy\appdata\local\continuum\anaconda2\lib\site-packages (from scikit-learn)
Requirement already up-to-date: scipy>=0.13.3 in c:\users\vincy\appdata\local\continuum\anaconda2\lib\site-packages (from scikit-learn)

You are using pip version 9.0.1, however version 18.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [2]:
import pandas as pd

In [3]:
df=pd.DataFrame()

# Created Empty Dataframe

In [4]:
print df

Empty DataFrame
Columns: []
Index: []

# Inserting Data into dataframe

In [5]:
data = [1,2,3,4,5]

In [6]:
df=pd.DataFrame(data)

In [7]:
print df

   0
0  1
1  2
2  3
3  4
4  5

In [8]:
data = [['Alex',10],['Bob',12],['Clarke',13]]

In [9]:
df=pd.DataFrame(data)

In [10]:
print df

        0   1
0    Alex  10
1     Bob  12
2  Clarke  13

In [11]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}

In [12]:
df=pd.DataFrame(data)

In [13]:
print df

   Age   Name
0   28    Tom
1   34   Jack
2   29  Steve
3   42  Ricky

# Reading data from url

In [4]:
dataframe = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data')

In [5]:
df=pd.DataFrame(dataframe)

In [6]:
print df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

# Reading data from CSV file

In [24]:
dataframe = pd.read_csv('C:\Users\Vincy\Desktop\IRIS\iris.csv')

In [25]:
daf11=pd.DataFrame(dataframe)

In [26]:
print daf11.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           NaN          NaN           NaN          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa

In [11]:
daf1=daf1.fillna(0)

In [12]:
print daf1.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           0.0          0.0           0.0          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa

In [13]:
daf2=pd.DataFrame(dataframe)
print daf2.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           NaN          NaN           NaN          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa

In [22]:
daf22= daf2.fillna(method = "bfill")

In [23]:
print daf22.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa

In [28]:
daf3= daf11.fillna(method = "pad")

In [29]:
print daf3.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa

# Writing back to file after filling

In [ ]:
df1.to_csv('C:\Users\Vincy\Desktop\IRIS\iris.csv')

In [ ]:
dataframe = pd.read_csv('C:\Users\Vincy\Desktop\IRIS\iris.csv')

In [ ]:
df2=pd.DataFrame(dataframe)

In [ ]:
print df2.head()